project:
  type: website
  render:
    - "*.qmd"
    - "!slides/"
    - "!ModelloLineare.qmd"
  resources:
    - "files/"
    - "html/"

execute:
  freeze: auto # Re-render only when source changes

bibliography: files/bib/references.bib
csl: files/bib/chicago-author-date.csl
description-meta: "Econometria 2025/2026 - Giuseppe Ragusa - Sapienza"

website:
  title: "Econometria"
  site-url: "https://gragusa.org/econometria/"
  site-path: "/econometria/"
  favicon: "/files/icon-512.png"
  navbar:
    pinned: true
    background: "#344454"
    right:
      - syllabus.qmd
      - text: "Materiale didattico"
        file: materiale.qmd

  sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Introduzione a `R`"
        icon: filetype-html
        href: IntroduzioneR.qmd

  page-footer:
    left: |
    right: |

format:
  html:
    email-obfuscation: javascript
    theme:
      - litera
      - html/custom.scss
    grid:
      sidebar-width: 375px
    toc: true
    highlight-style: monokai
